/* dark.css */
body {
    background-color: #023047;
    color: #F1F1F1;
   
}

nav {
    background: #022435 !important;
}

.course-item .rectangle {
    background: #063b55 ;
}
a{
    color: #F1F1F1 !important;
}
