.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}


.grades{
    margin-top: 40px;
    border: solid 1px #000000;
    border-radius: 100px;
    margin-left: 70px;
    margin-right: 70px;
    padding: 20px;
    list-style-type: none;
}

.settingspic{

    width: 20px;
    padding-left: 50%;
    text-align: left;
    
}


.gradepoint{
    float: right;
    font-size: 20px;
    background-color: green;
    color: white;
    padding: 3px;
    border-radius: 100px;
}
