
.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;

}
.lecturertable {
    margin: 50px 0;
    overflow: auto;
}

table {
    width: 100%;
    padding-left: 50px;
}
th {
    text-align: left;
    padding: 10px;
}
td {
    padding: 10px;
}
td img {
    width: 40px;
}

.settingspic{

    width: 20px;
    padding-left: 5px;
    text-align: left;
    
}


@media screen and (max-width: 494px) {
    table {
        width: 100%;
    }

    td img{
        border-radius: 10px !important;
    }
}

@media screen and (max-width: 2560px) {
    table {
        width: 100%;
    }

    td img{
        border-radius: 10px !important;
    }
}

@media screen and (max-width: 1440px) {
    table {
        width: 100%;
    }

    td img{
        border-radius: 10px !important;
    }
}

@media screen and (max-width: 1140px) {
    table {
        width: 100%;
    }

    td img{
        border-radius: 10px !important;
    }
}


@media screen and (max-width: 975px) {
    table {
        width: 90%;
    }

    td img{
        border-radius: 10px !important;
    }
}


@media screen and (max-width: 768px) {
    table {
        width: 100%;
    }

    td img{
        border-radius: 10px !important;
    }
}

@media screen and (max-width: 540px) {
    table {
        width: 100%;
    }

    td img{
        border-radius: 10px !important;
    }
}

@media screen and (max-width: 425px) {
    table {
        width: 100%;
    }

    td img{
        border-radius: 10px !important;
    }
}